/*** imports ***/
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Montagu+Slab:wght@600&family=Montserrat+Subrayada&family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat+Subrayada&family=Rubik+Moonrocks&display=swap");
/*titles*/
/*subtitle and text*/
/***variables***/
/*** animations ***/
/*** header animation ***/
@keyframes move_logo {
  0% {
    transform: scale(1, 1);
    left: 0%;
  }
  25% {
    transform: scale(0.75, 0.75);
    left: 50%;
  }
  50% {
    transform: scale(0.5, 0.5) rotate(180deg);
    left: calc(100% - 300px);
  }
  75% {
    transform: scale(0.75, 0.75);
    left: 50%;
  }
  100% {
    transform: scale(1, 1);
    left: 0%;
  }
}
@keyframes show_text {
  100% {
    overflow: visible;
  }
}
/*** mixins ***/
/*flexbox*/
/*slider*/
/*** colors ***/ /*** header ***/
header {
  position: relative;
  font-size: 1rem;
  background-color: #FFBD59;
  border-bottom: 3px solid black;
  /*** for boostrap ***/
}
header .logo {
  position: relative;
  width: 300px;
  height: 300px;
  animation-name: move_logo;
  animation-timing-function: ease-in;
  animation-duration: 7500ms;
  animation-delay: 2000ms;
}
header nav, header .nav_boostrap {
  list-style-type: none;
  position: absolute;
  right: 5%;
  bottom: 1rem;
}
header nav .li_nav, header .nav_boostrap .li_nav {
  display: inline;
  text-align: center;
  padding: 1rem;
  border-left: 3px solid black;
}
header nav .li_nav .link_nav, header .nav_boostrap .li_nav .link_nav {
  text-decoration: none;
  color: black;
}
header .nav_boostrap {
  bottom: -3px;
}

/*************** footer ***************/
.container_footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  background-color: black;
  padding: 1rem;
  column-gap: 3rem;
  row-gap: 1rem;
  text-align: center;
}
footer h3 {
  color: #FFBD59;
  padding-bottom: 1rem;
}
footer ul {
  list-style: none;
}
footer ul li {
  color: white;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

.footer_bottom {
  color: white;
  grid-column: 1/4;
  margin: 1rem;
}

.footer_iframe {
  width: 250px;
  height: 250px;
  border: 3px solid #FFBD59;
}

/*********** footer  boostrap **************/
.footer_bootstrap {
  background-color: black;
  color: white;
  padding: 1rem;
}
.footer_bootstrap h5 {
  font-family: "Montserrat Subrayada", sans-serif;
  color: #FFBD59;
}
.footer_bootstrap ul {
  list-style: none;
  /*delete margin (li bootstrap)*/
  margin-right: 32px;
}
.footer_bootstrap ul li a {
  text-decoration: none;
  color: white;
}

/****** general ******/
* {
  margin: 0;
  padding: 0;
  font-family: "Montagu Slab", serif;
}

body {
  background-color: #ffe4c4;
}

h3 {
  font-family: "Montserrat Subrayada", sans-serif;
}

div h2 {
  background-color: #FFBD59;
  color: black;
  text-align: center;
  margin-bottom: 0;
}

.container_title {
  position: relative;
  z-index: 1;
}
.container_title .triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 100px solid black;
  border-right: 100px solid transparent;
}
.container_title h1 {
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  font-size: 2rem;
  z-index: 2;
  padding: 3px;
  color: black;
  border: 3px solid black;
  background-color: #FFBD59;
}

.container_body {
  margin-top: 100px;
}

.flex_container_items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: none;
}

/****** items ******/
.item_article {
  width: 350px;
  height: auto;
  margin: 2rem;
  background-color: transparent;
}
.item_article img {
  width: 100%;
  height: 500px;
}
.item_article div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: none;
  height: 75px;
  padding: 1rem;
  text-align: center;
  background-color: #FFBD59;
}
.item_article p {
  font-size: 0.9rem;
  padding: 1rem;
  height: 125px;
  overflow: hidden;
  background-image: url("../assets/images/background_item.jpg");
  color: white;
  transition: height 2000ms;
}
.item_article p:hover {
  height: 100%;
  animation-name: show_text;
  animation-duration: 100ms;
  animation-delay: 2000ms;
}

/*** scroll vertical ***/
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 5px 5px 5px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFBD59;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/*************** index ***************/
.front_page {
  width: 100%;
  height: 800px;
}

/*** round image ***/
.round_image_article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem 2rem 1rem;
  text-align: center;
  border-bottom: 3px solid black;
}
.round_image_article img {
  width: 200px;
  height: 200px;
  margin: 1rem;
  border-radius: 50%;
  border: 3px solid black;
}
.round_image_article h3 {
  font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #FFBD59;
  border-radius: 50%;
  border: 1px solid black;
}

/*************** best seller ***************/
.cards-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffe4c4;
}

.tablet {
  visibility: hidden;
  height: 0;
}

.mobile {
  visibility: hidden;
  height: 0;
}

.background_body {
  background-color: #ffe4c4;
}

.card {
  margin: 1rem;
  background-image: url("../assets/images/background_item.jpg");
}

.flex_container_horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: none;
  align-items: start;
  margin: 1rem;
  color: #FFBD59;
}
.flex_container_horizontal h3, .flex_container_horizontal h5 {
  margin-bottom: 1rem;
}
.flex_container_horizontal p {
  font-size: 0.9rem;
  color: white;
}

.btn {
  width: 200px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.flex_container_vertical {
  display: flex;
  flex-flow: column nowrap;
  justify-content: none;
  align-items: none;
  margin-right: 1rem;
  /*star rating*/
}
.flex_container_vertical img {
  width: 200px;
  height: 300px;
}
.flex_container_vertical .star_rating {
  font-size: 30px;
  text-align: center;
}
.flex_container_vertical .star_rating .checked {
  color: #FFD700;
}
.flex_container_vertical .star_rating .unchecked {
  color: #78767c;
}

/*************** form ***************/
.form_container {
  background-color: #78767c;
  border-radius: 1rem;
  margin: 5rem;
}
.form_container section {
  background-image: url("../assets/images/logo_gray.png");
  background-repeat: space;
  background-size: 10rem;
  border-radius: 1rem;
  padding: 10rem;
}
.form_container section form {
  background-color: #ffe4c4;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 2rem;
}
.form_container section form h3 {
  margin: 2rem;
  text-align: center;
}
.form_container section form .flex_horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: none;
  align-items: none;
}
.form_container section form .flex_horizontal article {
  width: 100%;
}
.form_container section form input {
  width: 100%;
  height: 2rem;
  border-radius: 1rem;
}
.form_container section form textarea {
  width: 100%;
  border: 2px solid black;
  border-radius: 1rem;
}
.form_container section form article {
  padding: 1rem;
}

/*** media query ***/
@media (max-width: 1000px) {
  .tablet {
    visibility: visible;
    height: auto;
  }
  .desktop {
    visibility: hidden;
    height: 0;
  }
  .mobile {
    visibility: hidden;
    height: 0;
  }
  /* header */
  header {
    font-size: 0.75rem;
  }
  header .logo {
    width: 300px;
    height: 300px;
  }
  .front_page {
    height: 650px;
  }
  .flex_container_items {
    justify-content: center;
  }
  /* items */
  .item_article {
    margin: 1rem;
  }
  /* contact */
  .form_container {
    background-color: #ffe4c4;
    border-radius: 5px;
    margin: 2rem;
  }
  .form_container section {
    background-image: none;
    background-repeat: no-repeat;
    background-size: 0;
    border-radius: 0;
    padding: 0;
  }
  .form_container section form {
    padding: 5px;
  }
  .form_container section form h3 {
    margin: 1rem;
  }
  .form_container section form .flex_horizontal {
    flex-flow: row wrap;
  }
  .form_container section form .flex_horizontal article {
    padding: 5px;
  }
  /* footer */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
  }
  .footer_bottom {
    grid-column: 1/span 2;
  }
  .footer_iframe {
    width: 100%;
    grid-column: 1/span 2;
  }
}
@media (max-width: 1000px) and (max-width: 550px) {
  /* header */
  @keyframes move_logo {
    0% {
      transform: scale(1, 1);
      left: 0%;
    }
    25% {
      transform: scale(0.75, 0.75);
      left: 50%;
    }
    50% {
      transform: scale(0.5, 0.5) rotate(180deg);
      left: calc(100% - 150px);
    }
    75% {
      transform: scale(0.75, 0.75);
      left: 50%;
    }
    100% {
      transform: scale(1, 1);
      left: 0%;
    }
  }
  header {
    font-size: 0.75rem;
  }
  header .logo {
    width: 180px;
    height: 180px;
  }
  header nav .li_nav, header .nav_boostrap .li_nav {
    border-left: none;
    padding: 0.5rem;
  }
  header .nav_boostrap {
    bottom: -3px;
  }
  .mobile {
    visibility: visible;
    height: auto;
  }
  .tablet {
    visibility: hidden;
    height: 0;
  }
  .desktop {
    visibility: hidden;
    height: 0;
  }
  .front_page {
    height: 450px;
  }
  /* items */
  .item_article p {
    height: auto;
  }
  .item_article p:hover {
    height: auto;
  }
  /* best sellers */
  .flex_container_vertical {
    margin-bottom: 2rem;
  }
  .flex_container_horizontal {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  /* footer */
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
  .footer_bottom {
    grid-column: 1/span 1;
  }
  .footer_iframe {
    width: 100%;
    grid-column: 1/span 1;
  }
}

/*# sourceMappingURL=style.css.map */
