/****** general ******/
* {
    margin: 0;
    padding: 0;
    font-family: 'Aboreto', cursive;
}

/*** imports ***/
@import "base/base";
@import "base/colors";
@import "layout/header";
@import "layout/footer";

body {
    background-color: $bisque;
}

.container_body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
}

.flex_container_items {
    @include flex (row wrap, space-between, none);
}

/****** items ******/
.item_article {
    display: block;
    width: 350px;
    height: auto;
    margin: 2rem;
    background-color: $orange; 

     img {
        width: 100%;
        height: 500px;
    }

    div {
        @include flex (column nowrap, center, none);
        height: 75px;     
        padding: 1rem;   
        text-align: center;
        background-color: $orange;
    }

    p {
        font-size: 0.85rem;
        padding: 1rem;
        height: 400px;
        overflow: auto;
        background-color: $gray;
        color: white;
    }
}

/*** scroll ***/
::-webkit-scrollbar {
    width: 0.5rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 5px white; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: $orange; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black; 
}
/*********************/

/*************** index ***************/
.front_page {
    width: 100%;
    height: 800px;
}

/*** round image ***/
.flex_container_image_round {
    @include flex(row nowrap, center, none);
    background-color: $bisque;
}

.round_image {
    width: 200px;
    height: 200px;    
    border-radius: 50%; 
    border: 3px solid black;   
}

.round_image_article {
    display: inline-block;
    padding: 50px;
    text-align: center;
}

.bottom_line {
    background-color: black;
    width: 200px;
    height: 3px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: $orange;
  border-radius: 50%;
  border: 1px solid black;
}

/*************** best seller ***************/

.cards-wrapper {
    display: flex;
    justify-content: center;
    background-color: $bisque;
}

/*
.desktop {
    visibility: hidden;
    height: 0px;
}
*/

.tablet {
    visibility: hidden;
    height: 0px;
}

.background_body {
    background-color: $bisque;
}

.card {
    margin: 1rem;
}

.flex_container_horizontal {
    @include flex (row nowrap, none, start);
    margin: 1rem;
    color: $orange;
    h1 {
        font-size: 2rem;
        margin: 1rem;
    }
    p {
        color: black;
        margin: 1rem;
    }
}

.btn {
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.flex_container_vertical {
    @include flex (column nowrap, none, none);
    img {
        width: 200px;
        height: 200px;
    }
}

.star_rating {
    text-align: center;
}

.checked {
    color: $orange;
}

/*************** form ***************/
.form_container {
    background-color: $gray;
    border-radius: 1rem;
    margin: 5rem;
    section {
        background-image: url("../assets/images/logo_gray.png");
        background-repeat: space;
        background-size: 10rem;
        border-radius: 1rem;
        padding: 10rem;
    }
}

form {
    background-color: $bisque;
    border: 3px solid black;
    border-radius: 1rem;
    padding: 2rem;
    h1 {
        margin: 2rem;
        text-align: center;
    }
    input {
        width: 100%;
        height: 2rem;
        border-radius: 1rem;
    }
    
    textarea {
        width: 100%;
        border: 2px solid black;
        border-radius: 1rem;
    }
    
    article {
        padding: 1rem;
    }
}

.flex_horizontal {
    @include flex (row nowrap, none, none);
    article {
        width: 100%;
     }
 }

 /*** media query ***/
 @media (max-width: 780px) {

    /* header */
    header {
        font-size: 0.75rem;
        .logo {
            width: 300px;
            height: 300px;
        }
    }

    .front_page {
        height: 650px;
    }

    .flex_container_items {
        justify-content: center;
    }

     /* items */
     .item_article {
        margin: 1rem;
    }

    /* contact */
    .form_container {
        background-color: $bisque;
        border-radius: 5px;
        margin: 2rem;
        section {
            background-image: none;
            background-repeat: no-repeat;
            background-size: 0;
            border-radius: 0;
            padding: 0;
        }    
    }

    form {
        padding: 5px;
        h1 {
            margin: 1rem;
        }
        article {
            padding: 5px;
        }
    }

    .flex_horizontal {
        flex-flow: row wrap;
    }

    /* footer */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .footer_bottom {
        grid-column: 1 / span 2;
    }

    .footer_iframe {
        width: 100%;
        grid-column: 1 / span 2;
    }

    @media (max-width: 550px) {
         /* header */

         @keyframes move_logo {
            0% {
                transform: scale(1, 1);
                left: 0%;
            }
            
            25% {
                transform: scale(0.75, 0.75);
                left: 50%;
            }
        
            50% {
                transform: scale(0.5, 0.5) rotate(180deg);
                left: calc(100% - 150px);
            }
        
            75% {
                transform: scale(0.75, 0.75);
                left: 50%;
            }
           
            100% {
                transform: scale(1, 1);
                left: 0% 
            }
        }

        header {
            font-size: 0.75rem;
            .logo {
                width: 180px;
                height: 180px;
            }

            nav {
                .li_nav {
                    border-left: none;
                    padding: 1rem;
                }
            }
        }

        .front_page {
            height: 500px;
        }

        /* items */
        .item_article {
            p {
                height: auto;
            }
        }
        /* best sellers */
        .flex_container_horizontal {
            justify-content: center;
            h1 {
                font-size: 1rem;
            }
        }
        
        .flex_container_horizontal {
            flex-wrap: wrap; 
            h1 {
                font-size: 1rem;
            }
        }

        /* footer */
        footer {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
        }

        .footer_bottom {
            grid-column: 1 / span 1;
        }

        .footer_iframe {
            width: 100%;
            grid-column: 1 / span 1;
        }
    }
}