/*** header ***/
header {
    position: relative;
    font-size: 1rem;
    background-color: $orange;
    border-bottom: 3px solid $black;

    .logo {
        position: relative;
        width: 300px;
        height: 300px;
        animation-name: move_logo;
        animation-timing-function: ease-in;
        animation-duration: 7500ms;
        animation-delay: 2000ms;
    }

    nav {
        list-style-type: none;
        position: absolute;
        right: 5%;
        bottom: 1rem;
        .li_nav {
            display: inline;
            text-align: center;
            padding: 1rem;
            border-left: 3px solid $black;
            transition: all 1000ms;
            .link_nav {
                text-decoration: none;
                color: $black;
            }
        }
        .li_nav:hover {
            background-color: $black;
            height: 100%;
            .link_nav {
                color: $orange;
            }
        }
    }

    /*** for boostrap ***/
    .nav_boostrap {
        @extend nav;
        bottom: -3px;
    }
}